<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="./styles.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-brand" style="font-size: 30px;"><span style="color: hsl(181, 48%, 46%);">HOLDINFO</span>.com</p>
        <p class="p">Powered By <span style="color: hsl(181, 48%, 46%);">Finstreet</span></p>
      </div>
      <ul class="nav navbar-nav navbar-center">
        <li class="select">
          <select >
            <option value="BTC">BTC</option>
          </select>
        </li>
        <li class="select">
          <select >
            <option value="INR">INR</option>
          </select>
        </li>
        <li class="nav_left">
          <div class="dot"><span>58</span></div>
        </li>
        <li class="nav_left">
          <button> <i style="background: none;color: white;" class="fa fa-telegram" aria-hidden="true"></i> Connect Telegram</button>
        </li>
        <li class="nav_left">
          <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
          </label>
        </li>
      </ul>
    </div>
  </nav>